email_listener==1.2
beautifulsoup4==4.11.1
requests==2.28.1
html5lib==1.1
python-dotenv==1.0.0
google-auth==2.2.1
google-auth-oauthlib==0.4.4
google-auth-httplib2==0.1.0
google-api-python-client==2.26.0
itertools